.App {
  text-align: center;
}

.bkg {
  /*background: url("https://wallpaperaccess.com/full/164553.png");
  background-size: cover;*/
  margin-top: 25rem;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  height: 100%;
  width: 10rem;
}